<launch>
    <arg name="with_joint_state_publisher" default="false"/>

    <param name="robot_description" command="xacro --inorder '$(find autonomous_chair_description)/urdf/chair.urdf.xacro'"/>

    <node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher" output="screen">
        <param name="ignore_timestamp" value="true"/>
    </node>
    <node if="$(arg with_joint_state_publisher)"
          name="joint_state_publisher" pkg="joint_state_publisher" type="joint_state_publisher" output="screen"/>
</launch>