<?xml version="1.0"?>
<robot name="chair" xmlns:xacro="http://www.ros.org/wiki/xacro">

    <!--<link name="world"/>

    <joint name="base_joint" type="planar">
        <parent link="world"/>
        <child link="base"/>
        <origin xyz="0 0 0.15" rpy="0 0 0"/>
        <axis xyz="0 0 1"/>
    </joint>-->

    <xacro:include filename="$(find hector_sensors_description)/urdf/hokuyo_utm30lx.urdf.xacro"/>

    <gazebo>
        <plugin name="object_controller" filename="libgazebo_ros_planar_move.so">
            <commandTopic>cmd_vel</commandTopic>
            <odometryTopic>odom</odometryTopic>
            <odometryFrame>odom</odometryFrame>
            <odometryRate>20.0</odometryRate>
            <robotBaseFrame>base_link</robotBaseFrame>
        </plugin>
    </gazebo>

    <link name="base_link">
        <inertial>
            <origin xyz="0 0 0" rpy="0 0 0"/>
            <mass value="1"/>
            <inertia ixx="100"      ixy="0"     ixz="0"
                                    iyy="100"   iyz="0"
                                                izz="100" />
        </inertial>
        <visual>
            <origin xyz="0 0 0" rpy="0 0 0"/>
            <geometry>
                <cylinder radius="0.35" length="0.05"/>
            </geometry>
        </visual>
        <collision>
            <origin xyz="0 0 0" rpy="0 0 0"/>
            <geometry>
                <cylinder radius="0.35" length="0.05"/>
            </geometry>
        </collision>
    </link>

    <joint name="cylinder_joint" type="fixed">
        <parent link="base_link"/>
        <child link="cylinder"/>
        <origin xyz="0 0 0.25" rpy="0 0 0"/>
    </joint>
    <link name="cylinder">
        <inertial>
            <origin xyz="0 0 0" rpy="0 0 0"/>
            <mass value="1"/>
            <inertia ixx="100"      ixy="0"     ixz="0"
                                    iyy="100"   iyz="0"
                                                izz="100" />
        </inertial>
        <visual>
            <origin xyz="0 0 0" rpy="0 0 0"/>
            <geometry>
                <cylinder radius="0.05" length="0.5"/>
            </geometry>
        </visual>
        <collision>
            <origin xyz="0 0 0" rpy="0 0 0"/>
            <geometry>
                <cylinder radius="0.05" length="0.5"/>
            </geometry>
        </collision>
    </link>

    <joint name="seat_joint" type="fixed">
        <parent link="cylinder"/>
        <child link="seat"/>
        <origin xyz="0 0 0.25" rpy="0 0 0"/>
    </joint>
    <link name="seat">
        <inertial>
            <origin xyz="0 0 0" rpy="0 0 0"/>
            <mass value="1"/>
            <inertia ixx="100"      ixy="0"     ixz="0"
                                    iyy="100"   iyz="0"
                                                izz="100" />
        </inertial>
        <visual>
            <origin xyz="0 0 0" rpy="0 0 0"/>
            <geometry>
                <box size="0.5 0.5 0.1"/>
            </geometry>
        </visual>
        <collision>
            <origin xyz="0 0 0" rpy="0 0 0"/>
            <geometry>
                <box size="0.5 0.5 0.1"/>
            </geometry>
        </collision>
    </link>

    <joint name="back_joint" type="fixed">
        <parent link="seat"/>
        <child link="back"/>
        <origin xyz="-0.25 0 0.25" rpy="0 0 0"/>
    </joint>
    <link name="back">
        <inertial>
            <origin xyz="0 0 0" rpy="0 0 0"/>
            <mass value="1"/>
            <inertia ixx="100"      ixy="0"     ixz="0"
                                    iyy="100"   iyz="0"
                                                izz="100" />
        </inertial>
        <visual>
            <origin xyz="0 0 0" rpy="0 0 0"/>
            <geometry>
                <box size="0.1 0.5 0.5"/>
            </geometry>
        </visual>
        <collision>
            <origin xyz="0 0 0" rpy="0 0 0"/>
            <geometry>
                <box size="0.2 0.5 0.5"/>
            </geometry>
        </collision>
    </link>

    <hokuyo_utm30lx_gpu name="hokuyo_laser" parent="seat" ros_topic="scan" update_rate="40" ray_count="1080" min_angle="-135" max_angle="135">
        <origin xyz="0.1 0 -0.1" rpy="3.14 0 0"/>
    </hokuyo_utm30lx_gpu>

</robot>
